<!doctype html>
<html>
    <head>
        <title>Guess The Number</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    </head>
    <body ng-app="app">
        <div class="container" ng-controller="GuessTheNumberController">
            <h2>Guess the number</h2>
            <p class="well lead">Guess the computer generated random number between 1 and 1000.</p>
            <label>Your Guess: </label><input type="number" ng-model="guess"/>
            <button ng-click="verifyGuess()" class="btn btn-primary btn-sm">Verify</button>
            <button ng-click="initializeGame()" class="btn btn-warning btn-sm">Restart</button>
            <p>
                <p ng-show="deviation < 0" class="alert alert-warning">Your guess is higher.</p>
                <p ng-show="deviation > 0" class="alert alert-warning">Your guess is lower.</p>
                <p ng-show="deviation === 0" class="alert alert-success">Yes! That's it.</p>
            </p>
            <p class="text-info">No of guess : <span class="badge">{{numberOfTries}}</span></p>
        </div>
        
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
        <script>
            angular.module('app', [])
            .controller("GuessTheNumberController", GuessTheNumberController);
            function GuessTheNumberController($scope) {
                $scope.verifyGuess = function() {
                    $scope.deviation = $scope.original - $scope.guess;
                    $scope.numberOfTries = $scope.numberOfTries + 1;
                }
                $scope.initializeGame = function() {
                    $scope.numberOfTries = 0;
                    $scope.original = Math.floor((Math.random() * 1000) + 1);
                    $scope.guess = null;
                    $scope.deviation = null;
                } 
                $scope.initializeGame();
            }
        </script>
    </body>
</html>